<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Kelly Brown</h4>
  </div>
  <div class="user-content">
    <p>
      I am a senior year English Major minoring in Information Technology, Education and Latin.
    </p>
    <p>
      My study of Latin and English has provided a basis for many languages and supported my passion for computer science and technology. My work experience has enhanced my organization and interpersonal communication skills that can be utilized in the workforce. I possess strong leadership and teaching experience being a coxswain on the UMass Men's Rowing Team.  I have been able to engage in many activities and workshops across the UMass campus to enhance my skills in cybersecurity and hands-on circuitry. My creativity and analytical skills in the Arts combined with my technical practice make me want to pursue a career in technical writing or system engineering.
    </p>
  </div>
</div>
